<nav class="navbar navbar-expand navbar-light bg-light">
  <a class="navbar-brand">{{pageTitle}}</a>
  <ul class="navbar-nav">
    <li class="nav-item">
      <a [routerLink]='["/welcome"]' routerLinkActive="active" class="nav-link">Home</a>
    </li>
    <li class="nav-item">
      <a [routerLink]='["/products"]'
         routerLinkActive="active"
         [routerLinkActiveOptions]="{exact: true}"
         class="nav-link">Product List</a>
    </li>
    <li class="nav-item">
      <a [routerLink]="['/products',0,'edit']"
         routerLinkActive="active"
         class="nav-link">Add Product</a>
    </li>
  </ul>
  <ul class="navbar-nav ml-auto">
    <li class="nav-item"
        *ngIf="isLoggedIn">
      <a class="nav-link">Welcome {{ userName }}</a>
    </li>
    <li *ngIf="!isMessageDisplayed" class="nav-item">
      <a
        (click)="displayMessages()"
        class="nav-link">Show Messages</a>
    </li>
    <li *ngIf="isMessageDisplayed" class="nav-item">
      <a
        (click)="hideMessages()"
        class="nav-link">Hide Messages</a>
    </li>
    <li class="nav-item"
        *ngIf="!isLoggedIn">
      <a [routerLink]="['/login']" class="nav-link">Log In</a>
    </li>
    <li class="nav-item"
        *ngIf="isLoggedIn">
      <a class="nav-link"
         (click)="logOut()">Log Out</a>
    </li>
  </ul>
</nav>
<div class="container">
  <div class="row">
    <div class="col-md-10"
         [@slideInAnimation]="o.isActivated ? o.activatedRoute : ''">
      <div class="loading" *ngIf="loading">
        <img src="assets/images/Eclipse-1s-200px.svg">
        <!-- show something fancy here, here with Angular 2 Material's loading bar or circle -->
      </div>
      <router-outlet #o="outlet"></router-outlet>
    </div>
    <div class="col-md-2">
      <router-outlet name="popup"></router-outlet>
    </div>
  </div>
</div>
